<h1>Productos</h1>

<div id="product-list">
  {{#each products}}
    <div class="product">
      ata-id="{{this._id}}">Agregar al carrito</button>
    </div>
  {{/each}}
</div>

<!-- Botón global para ver el carrito -->
<button id="view-cart">Ver Carrito</button>